###############################
# ROS2 / AMENT BUILD FILES
###############################
build/
install/
log/

###############################
# EDITOR DIRECTORIES
###############################
.vscode/
.idea/
*.user

###############################
# PYTHON
###############################
__pycache__/
*.pyc
*.pyo

###############################
# C++ / GENERAL
###############################
*.out
*.o
*.so
*.a
*.swp
*~

###############################
# MISC
###############################
.#*
*.pcd
CMakeLists.txt.user
